:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.header {
  padding: 20px 0 10px;
}

.board {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content; */
  width: 100%;
  height: 100%;
  text-align: center;
}

.board-title {
  color: #eee;
  margin: 10px 0px;
}

.board-text {
  margin: 10px 0px;
}

button {
  padding: 8px 12px;
  margin: 25px;
  background: transparent;
  border: 2px solid #eee;
  color: #eee;
  width: 100px;
  border-radius: 5px;
  transition: 0.3s all;
  font-weight: bold;
  cursor: pointer;
}

.board button:hover {
  background: #eee;
  color: #222;
}

.board .game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.turn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px auto;
  position: relative;
  border-radius: 10px;
}

.turn .square,
.winner .square {
  width: 30px;
  height: 30px;
  pointer-events: none;
  border-color: transparent;
  font-size: 30px;
}

.square.is-selected {
  color: #fff;
  background: #09f;
}

.winner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.winner .text {
  background: #111;
  height: 300px;
  width: 300px;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.winner .win {
  margin: 0 auto;
  width: fit-content;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  gap: 15px;
}

.square {
  width: 100px;
  height: 100px;
  border: 2px solid #eee;
  border-radius: 5px;
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: 48px;
}

.turns-container {
  border: 1px solid white;
  border-radius: 15px;
  padding: 10px 0pc;
  width: 70%;
  height: 100px;
}

.container-app {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.scoreboard {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  padding: 10px 0px;
  border-radius: 25px;
  width: 70%;
  height: 100px;
}

.scoreboard-info {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px 0px;
}

.start-again-btn {
  height: 90px;
}

.start-again-btn .btn-hardReset:hover, 
.btn-hardReset:hover  {
  background-color: red; 
  color: white;
}


/* ---------------------- #input ---------------------- */
.switch-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  font-weight: 900;
  font-size: 20px;
  color: #ccc;
  margin-bottom: 15px;
}

.switch-container-options {
  display: flex;
  align-items: center;
  gap: 10px;
}

.switch input
{
  display: none;
}

.switch 
{
  display: inline-block;
  width: 60px; 
  height: 30px;
  margin: 4px;
  position: relative;
}

.slider
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  box-shadow: 0 0 0 2px red, 0 0 4px red;
  cursor: pointer;
  border: 4px solid transparent;
  overflow: hidden;
  transition: 0.2s;
}

.slider:before
{
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  background-color: red;
  border-radius: 30px;
  transform: translateX(-30px); /*translateX(-(w-h))*/
  transition: 0.2s;
}

input:checked + .slider:before
{
  transform: translateX(0px); /*translateX(w-h)*/
  background-color: #09f;
}

input:checked + .slider
{
  box-shadow: 0 0 0 2px #09f, 0 0 8px #09f;
}

.switch200 .slider:before
{
  width: 200%;
  transform: translateX(-82px); /*translateX(-(w-h))*/
}

.switch200 input:checked + .slider:before
{
  background-color: red;
}

.switch200 input:checked + .slider
{
  box-shadow: 0 0 0 2px red, 0 0 8px red;
}
/* ---------------------- /input ---------------------- */

@media screen and (max-width: 650px) {
  .container-app {
    flex-direction: column;
    grid-template: auto 1fr auto / 1fr;
    gap: 30px;
  }

  /* .board {
    margin: 65px auto 10px;
  } */
  
  .square {
    width: 65px;
    height: 65px;
  }

  .turns-container {
    width: 100%;
  }

  .turn {
    flex-direction: initial;
  }

}